.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1223000 !important;
  right: .5rem;
  top: .5rem;
}

.zmiti-play.rotate {
  -webkit-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.zmiti-main-ui {
  width: 750px !important;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: -1;
  opacity: 0;
}

.zmiti-main-ui.main-enter-active, .zmiti-main-ui.main-leave-active {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.zmiti-main-ui.main-leave-to, .zmiti-main-ui.main-enter {
  opacity: 0;
}

.zmiti-main-ui.show {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 270;
  opacity: 1;
}

.zmiti-main-ui .zmiti-view {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  width: 750px;
  height: 100%;
}

@-webkit-keyframes light {
  to {
    -webkit-transform: translate3d(0, 0, 100px) scale(10);
    transform: translate3d(0, 0, 100px) scale(10);
  }
}

.zmiti-main-ui .zmiti-box-ui {
  z-index: 10;
  width: 100%;
  left: 0 !important;
  top: 0 !important;
  height: 100%;
}

.zmiti-main-ui .zmiti-box-bg {
  z-index: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0 !important;
  display: none;
  top: 0 !important;
}

.zmiti-main-ui .zmiti-box-ui, .zmiti-main-ui .zmiti-translateZ {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.zmiti-main-ui .zmiti-box-ui .zmiti-box-C, .zmiti-main-ui .zmiti-translateZ .zmiti-box-C {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 750px;
  height: 1344px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -672px 0 0 -375px;
}

.zmiti-main-ui .zmiti-box-ui .zmiti-box-C span, .zmiti-main-ui .zmiti-translateZ .zmiti-box-C span {
  left: 750px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: left;
  transform-origin: left;
}

.zmiti-main-ui .zmiti-box-ui .zmiti-box-C > span, .zmiti-main-ui .zmiti-translateZ .zmiti-box-C > span {
  left: 0;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.zmiti-main-ui .zmiti-box-ui .zmiti-box-item, .zmiti-main-ui .zmiti-translateZ .zmiti-box-item {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

@media all and (max-height: 1109px) {
  .zmiti-question-img {
    width: 350px  !important;
    margin: 10px auto !important;
  }
  .zmiti-result-btns {
    bottom: -100px;
  }
  .zmiti-right-remark h2 {
    text-align: left;
  }
  .zmiti-right-remark div {
    width: 680px;
    margin: 20px auto;
    text-align: left;
    text-indent: 2em;
    font-size: 34px;
  }
}

@-webkit-keyframes info {
  from {
    -webkit-transform: translate3d(0, -30px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes waiting {
  to {
    -webkit-transform: rotate(360deg);
  }
}
