@import "../css/base.scss";

$baseColor: #fcffb4;
$viewW: 750px;
$bgColor: #fcfff8;
$color: #fffb88;

body{
	overflow: hidden;
}
img{
	border:0;
}
.zmiti-audio-main-ui{
	@include displayBox(horizontal);
	background: #865922;
	width:100%;
	height: 84px;
	box-shadow: 0 0 0 3px #ae7634;
	@include br(50px);
	.zmiti-audio-icon{
		width:100px;
		
		text-align: center;
		border-right: 1px solid #fff;
		img{
			width:60px;
			height: 60px;
		}
	}
	.zmiti-audio-canvas{
		-webkit-box-flex:1;
		margin-left: 20px;
		canvas{
			margin-top: 6px;
			background: #fff;
			@include br(40px);
			@include transform(rotateX(180deg))
			
		}
	}
}
.zmiti-main-ui {
	
	
    &.main-enter-active,
    &.main-leave-active {
        @include transition(.4s);
    }
	@include transition(.2s);

	
    &.main-leave-to,
    &.main-enter {
        opacity: 0;
    }


    width: $viewW !important;
    left: 0;
    top: 0;
    overflow: hidden;


    
    &.show {
        @include transition(.5s);
        z-index: 270;
        opacity: 1;
    }


    z-index: -1;
    opacity: 0;


    .zmiti-view{

        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        @include pos(a);
        width: $viewW;
        height: 100%;   

	}
	.zmiti-subtitle{
		@include pos(a);
		margin: 40px;
	}
	.zmiti-text{
		@include pos(a);
		bottom: 100px;
		left: 50%;
		width: 200px;
		@include transform(translateX(-50%));
		
	}
	.zmiti-detail-page{
		z-index: 1002;
		position: fixed !important;
		
		//@include transition(.3s);
		
		 
	}

	.zmiti-share-page{
		background: rgba(0,0,0,.8);
		width: 100%;
		height: 100%;
		z-index: 2000;
		@include transform(translateZ(2px));
		@include displayBox(vertical);
		.zmiti-share-img{
			height: 82%;
			border:10px solid #b17936;

		}
		img{
			width: auto;
			height: 100%;
		}
		.zmiti-share-btns{
			@include displayBox(horizontal);
			@include pos(r);
			top: 20px;
			z-index: 10;
			height: 70px;
			div{
				margin:0 30px;
				height: 100%;
			}
		}
	}
	
    .zmiti-detail-ui{
		background: rgba(0,0,0,.5);
		@include displayBox(horizontal);
		width: 100vw;
		height: 100%;
		@include transform(translateZ(1px));

		.zmiti-detail-content{
			@include pos(r);
			perspective: 900px;
			&>div{
				transform-style: preserve-3d;
				@include transform(rotateY(0deg));
				&.active{
					@include transform(rotateY(180deg));
				}
				@include transition(.4s);
			}
			.zmiti-detail-back {
				z-index: 10;
				@include transform( translateZ(-1px) rotateY(-180deg) );
				height: 100%;
				//display: none;
				backface-visibility: hidden;
			}
			.zmiti-detail-img{
				backface-visibility: hidden;
				@include pos(a);
				top: 10px;
				width: 96%;
				left: 50%;
				height: 100%;

				
				@include transform(translate(-50%));
				@include displayBox(vertical);
				-webkit-box-pack:start;
			}
			.zmiti-year-img{
				width: 100%;
				height: 400px;
				text-align: center;
				@include pos(r);
				.zmiti-detail-intro{
					@include pos(a);
					bottom: -25px;
					width: 250px;
					right: 1%;
					img{
						border:none;
						width: 100%;
						height:auto;
						
					}
				}
				img{
					height: 100%;
					width: auto;
				}
				.zmiti-back-headimg{
					border:10px solid #b17936;
					box-sizing: border-box;
				}
			}
			.zmiti-detail-wrap{
				color:#b17936;
				height: 120px;
				overflow: hidden;
				margin: 10px 0;
				@include pos(r);
				font-size:30px;
			}
			.zmiti-detail-btns{
				@include displayBox(horizontal);
				width: 100%;
			//	-webkit-box-pack: justify;
				div{
					margin: 0 30px;
					height: 70px;
					img{
						width: auto;
						height: 100%;
					}
				}
			}
			.zmiti-detail-intro{
				@include displayBox(horizontal);
				color:#b17936;
				font-weight: bold;
				margin:10px 0;
				&>div:nth-of-type(2){
					max-width: 450px;

				}
				img{
					width:100px;
					margin-right: 10px;
					border:4px solid #b17936;
					box-sizing: border-box;
				}
			}
			.zmiti-detail-bottom{
				height: 110px;
				
				width: 100%;
				@include displayBox(horizontal);
				-webkit-box-pack: justify;
				padding: 0 40px;
				box-sizing: border-box;
				
			}
		}
		.zmiti-detail-close{
			@include pos(a);
			color:#fff;
			
			left: 50%;
			margin-left: -40px;
			border:4px solid #fff;
			@include br();
			
			width: 80px;
			height: 80px;
			line-height: 80px;
			bottom: -100px;
			text-align: center;

			&:before,&:after{
				content:'';
				width: 50px;
				height: 4px;
				background: #fff;
				@include pos(a);
				left:15px;
				top: 50%;
				margin-top: -2px;
				@include transform(rotate(45deg));
			}
			&:after{
				
				@include transform(rotate(-45deg));
			}

		}
	}
    .zmiti-box-ui,.zmiti-translateZ{
      
        @include pos(a);
        left: 50%;
        top: 50%;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        .zmiti-translateZ{
             
        }
        .zmiti-box-C,.zmiti-cloud-ui{
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            //width: 200px;
            height: 1206px;
            @include pos(a);
            left: 50%;
            top: 50%;
			margin:-603px 0 0 -100px;
			font-size:0;
			
			img{
				display: block;
			}

            &.active{
               // @include transform(rotateY(1080deg));

            }
		}
		.zmiti-cloud-ui{
		//	display:none;
			width: 200px;
			.zmiti-cloud-item{
				width: 300px;
				transform-style: preserve-3d;
				
				img{
					width: 300px;
				}
			}
		}
		.zmiti-box-C{
			z-index: 0;
			width: 200px;;
			//overflow: auto;
			height: 0;
			&.layer1{
				z-index: 100;
				background: #2d81f6;
			}
			&.layer2{
				z-index: 99;
				//width: auto;
				background: red;
				//width: 10px;

			}
			&.layer3{
				z-index: 98;
				//width: 0;
				background: #000;
				//width: auto;
			}
		}
		.zmiti-cloud-item{
			@include pos(a);
			top: 50%;
		}
        .zmiti-box-item{
            @include pos(a);
            width: 100%;
            height: 100%;
            left: 0;
			top: 0;
			font-size:0;
			transform-style: preserve-3d;
         	backface-visibility: hidden;
		   -webkit-backface-visibility: hidden;
		   @include transition(.2s);

		   @for $i from 1 to 15 {
				.zmiti-item-dom:nth-of-type(#{$i}){
					animation-delay:$i * 100ms;
					-webkit-animation-delay:$i * 100ms;
				}   
		   }

		   .zmiti-item-dom{
			   @include pos(a);
			   width: 40px;
			   height: 40px;
			   //@include br();
			   z-index:1000;
			   background: #00da61;
			   border:1px solid red;
			   &::before{
				   display: none;
				   content:"";
				   width: 100%;
				   height: 100%;
				   @include pos(a);
				   background: #00da61;
				   left: 0;
				   top: 0;
				   @include br();
				   opacity:.5;
				   @include animation(flash 1s infinite);

			   }

		   }
		}

		@-webkit-keyframes flash {
			to{
				@include transform(scale(3));
				opacity:0;
			}
		}
		.zmiti-t1{
			@include pos(a);
			top: 20%;
			@include transform(rotateX(-20deg) translateY(-200px) translateZ(-200px))
		}
		.zmiti-t2{
			@include pos(a);
			bottom:0;
			@include transform(rotateX(30deg) translateY(-200px) translateZ(-200px))
		}
    }

}

@media all and (max-height:1109px) {
    .zmiti-question-img{
        width: 350px  !important;
        margin: 10px auto !important;
    }
    .zmiti-result-btns{
        bottom:-100px;
    }
     .zmiti-right-remark{
        h2{
            text-align: left;
        }
        div{
            width: 680px;
            margin: 20px auto;
            text-align: left;
            text-indent: 2em;
            font-size:34px;
        }
        }
}
 

@-webkit-keyframes info {
    from {
        -webkit-transform: translate3d(0, -30px, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes waiting {
    to {
        -webkit-transform: rotate(360deg);
    }
}
