.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1223000 !important;
  right: .5rem;
  top: .5rem;
}

.zmiti-play.rotate {
  -webkit-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.zmiti-main-ui {
  width: 750px !important;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: -1;
  opacity: 0;
}

.zmiti-main-ui.main-enter-active, .zmiti-main-ui.main-leave-active {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.zmiti-main-ui.main-leave-to, .zmiti-main-ui.main-enter {
  opacity: 0;
}

.zmiti-main-ui.show {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 270;
  opacity: 1;
}

.zmiti-main-ui .zmiti-view {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  width: 750px;
  height: 100%;
}

.zmiti-main-ui .zmiti-detail-ui {
  background: rgba(0, 0, 0, 0.5);
}

.zmiti-main-ui .zmiti-detail-ui .zmiti-detail-close {
  position: absolute;
  color: #fff;
  font-size: 80px;
  right: 30px;
  top: 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
  top: 30px;
  text-align: center;
}

.zmiti-main-ui .zmiti-box-ui, .zmiti-main-ui .zmiti-translateZ {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.zmiti-main-ui .zmiti-box-ui .zmiti-box-C, .zmiti-main-ui .zmiti-box-ui .zmiti-cloud-ui, .zmiti-main-ui .zmiti-translateZ .zmiti-box-C, .zmiti-main-ui .zmiti-translateZ .zmiti-cloud-ui {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 238px;
  height: 1206px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -603px 0 0 -130px;
}

.zmiti-main-ui .zmiti-box-ui .zmiti-cloud-item, .zmiti-main-ui .zmiti-translateZ .zmiti-cloud-item {
  position: absolute;
  top: 50%;
}

.zmiti-main-ui .zmiti-box-ui .zmiti-box-item, .zmiti-main-ui .zmiti-translateZ .zmiti-box-item {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.zmiti-main-ui .zmiti-box-ui .zmiti-box-item .zmiti-item-dom, .zmiti-main-ui .zmiti-translateZ .zmiti-box-item .zmiti-item-dom {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #2d81f6;
}

.zmiti-main-ui .zmiti-box-ui .zmiti-box-item .zmiti-item-dom::before, .zmiti-main-ui .zmiti-translateZ .zmiti-box-item .zmiti-item-dom::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #2d81f6;
  left: 0;
  top: 0;
  border-radius: 50%;
  opacity: .5;
  -webkit-animation: flash 1s infinite;
  animation: flash 1s infinite;
}

@-webkit-keyframes flash {
  to {
    -webkit-transform: scale(3);
    transform: scale(3);
    opacity: 0;
  }
}

.zmiti-main-ui .zmiti-box-ui .zmiti-t1, .zmiti-main-ui .zmiti-translateZ .zmiti-t1 {
  position: absolute;
  top: 20%;
  -webkit-transform: rotateX(-20deg) translateY(-200px) translateZ(-200px);
  transform: rotateX(-20deg) translateY(-200px) translateZ(-200px);
}

.zmiti-main-ui .zmiti-box-ui .zmiti-t2, .zmiti-main-ui .zmiti-translateZ .zmiti-t2 {
  position: absolute;
  bottom: 0;
  -webkit-transform: rotateX(30deg) translateY(-200px) translateZ(-200px);
  transform: rotateX(30deg) translateY(-200px) translateZ(-200px);
}

@media all and (max-height: 1109px) {
  .zmiti-question-img {
    width: 350px  !important;
    margin: 10px auto !important;
  }
  .zmiti-result-btns {
    bottom: -100px;
  }
  .zmiti-right-remark h2 {
    text-align: left;
  }
  .zmiti-right-remark div {
    width: 680px;
    margin: 20px auto;
    text-align: left;
    text-indent: 2em;
    font-size: 34px;
  }
}

@-webkit-keyframes info {
  from {
    -webkit-transform: translate3d(0, -30px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes waiting {
  to {
    -webkit-transform: rotate(360deg);
  }
}
