.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1223000 !important;
  right: .5rem;
  top: .5rem;
}

.zmiti-play.rotate {
  -webkit-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

body {
  font-size: 0;
}

img {
  border: 0;
}

.zmiti-main-ui {
  perspective: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 750px !important;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: -1;
  opacity: 0;
}

.zmiti-main-ui.main-enter-active, .zmiti-main-ui.main-leave-active {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.zmiti-main-ui.main-leave-to, .zmiti-main-ui.main-enter {
  opacity: 0;
}

.zmiti-main-ui.show {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 270;
  opacity: 1;
}

.zmiti-main-ui .zmiti-view {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  width: 750px;
  height: 100%;
}

.zmiti-main-ui .zmiti-subtitle {
  position: absolute;
  margin: 40px;
}

.zmiti-main-ui .zmiti-text {
  position: absolute;
  bottom: 100px;
  left: 50%;
  width: 200px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.zmiti-main-ui .zmiti-detail-page {
  z-index: 1002;
}

.zmiti-main-ui .zmiti-detail-ui {
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
  width: 101vw;
  height: 100%;
  -webkit-transform: translateZ(1px);
  transform: translateZ(1px);
}

.zmiti-main-ui .zmiti-detail-ui .zmiti-detail-content {
  position: relative;
}

.zmiti-main-ui .zmiti-detail-ui .zmiti-detail-content .zmiti-detail-img {
  position: absolute;
  top: 10px;
  width: 96%;
  left: 50%;
  height: 100%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;
}

.zmiti-main-ui .zmiti-detail-ui .zmiti-detail-content .zmiti-year-img {
  width: 100%;
  height: 400px;
  text-align: center;
}

.zmiti-main-ui .zmiti-detail-ui .zmiti-detail-content .zmiti-year-img img {
  height: 100%;
  width: auto;
}

.zmiti-main-ui .zmiti-detail-ui .zmiti-detail-content .zmiti-detail-wrap {
  color: #b17936;
  height: 140px;
  overflow: hidden;
  margin: 40px 0;
  position: relative;
  font-size: 30px;
}

.zmiti-main-ui .zmiti-detail-ui .zmiti-detail-content .zmiti-detail-bottom {
  height: 130px;
  background: #b17936;
  width: 100%;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
  padding: 0 40px;
  box-sizing: border-box;
}

.zmiti-main-ui .zmiti-detail-ui .zmiti-detail-close {
  position: absolute;
  color: #fff;
  left: 50%;
  margin-left: -40px;
  border: 4px solid #fff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  line-height: 80px;
  bottom: -100px;
  text-align: center;
}

.zmiti-main-ui .zmiti-detail-ui .zmiti-detail-close:before, .zmiti-main-ui .zmiti-detail-ui .zmiti-detail-close:after {
  content: '';
  width: 50px;
  height: 4px;
  background: #fff;
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -2px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.zmiti-main-ui .zmiti-detail-ui .zmiti-detail-close:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.zmiti-main-ui .zmiti-box-ui, .zmiti-main-ui .zmiti-translateZ {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.zmiti-main-ui .zmiti-box-ui .zmiti-box-C, .zmiti-main-ui .zmiti-box-ui .zmiti-cloud-ui, .zmiti-main-ui .zmiti-translateZ .zmiti-box-C, .zmiti-main-ui .zmiti-translateZ .zmiti-cloud-ui {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 1206px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -603px 0 0 -100px;
  font-size: 0;
}

.zmiti-main-ui .zmiti-box-ui .zmiti-box-C img, .zmiti-main-ui .zmiti-box-ui .zmiti-cloud-ui img, .zmiti-main-ui .zmiti-translateZ .zmiti-box-C img, .zmiti-main-ui .zmiti-translateZ .zmiti-cloud-ui img {
  display: block;
}

.zmiti-main-ui .zmiti-box-ui .zmiti-cloud-ui, .zmiti-main-ui .zmiti-translateZ .zmiti-cloud-ui {
  display: none;
}

.zmiti-main-ui .zmiti-box-ui .zmiti-box-C, .zmiti-main-ui .zmiti-translateZ .zmiti-box-C {
  z-index: 0;
  width: 200px;
  height: 0;
}

.zmiti-main-ui .zmiti-box-ui .zmiti-box-C.layer1, .zmiti-main-ui .zmiti-translateZ .zmiti-box-C.layer1 {
  z-index: 100;
  background: #2d81f6;
}

.zmiti-main-ui .zmiti-box-ui .zmiti-box-C.layer2, .zmiti-main-ui .zmiti-translateZ .zmiti-box-C.layer2 {
  z-index: 99;
  background: red;
}

.zmiti-main-ui .zmiti-box-ui .zmiti-box-C.layer3, .zmiti-main-ui .zmiti-translateZ .zmiti-box-C.layer3 {
  z-index: 98;
  background: #000;
}

.zmiti-main-ui .zmiti-box-ui .zmiti-cloud-item, .zmiti-main-ui .zmiti-translateZ .zmiti-cloud-item {
  position: absolute;
  top: 50%;
}

.zmiti-main-ui .zmiti-box-ui .zmiti-box-item, .zmiti-main-ui .zmiti-translateZ .zmiti-box-item {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  font-size: 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.zmiti-main-ui .zmiti-box-ui .zmiti-box-item .zmiti-item-dom:nth-of-type(1), .zmiti-main-ui .zmiti-translateZ .zmiti-box-item .zmiti-item-dom:nth-of-type(1) {
  animation-delay: 100ms;
  -webkit-animation-delay: 100ms;
}

.zmiti-main-ui .zmiti-box-ui .zmiti-box-item .zmiti-item-dom:nth-of-type(2), .zmiti-main-ui .zmiti-translateZ .zmiti-box-item .zmiti-item-dom:nth-of-type(2) {
  animation-delay: 200ms;
  -webkit-animation-delay: 200ms;
}

.zmiti-main-ui .zmiti-box-ui .zmiti-box-item .zmiti-item-dom:nth-of-type(3), .zmiti-main-ui .zmiti-translateZ .zmiti-box-item .zmiti-item-dom:nth-of-type(3) {
  animation-delay: 300ms;
  -webkit-animation-delay: 300ms;
}

.zmiti-main-ui .zmiti-box-ui .zmiti-box-item .zmiti-item-dom:nth-of-type(4), .zmiti-main-ui .zmiti-translateZ .zmiti-box-item .zmiti-item-dom:nth-of-type(4) {
  animation-delay: 400ms;
  -webkit-animation-delay: 400ms;
}

.zmiti-main-ui .zmiti-box-ui .zmiti-box-item .zmiti-item-dom:nth-of-type(5), .zmiti-main-ui .zmiti-translateZ .zmiti-box-item .zmiti-item-dom:nth-of-type(5) {
  animation-delay: 500ms;
  -webkit-animation-delay: 500ms;
}

.zmiti-main-ui .zmiti-box-ui .zmiti-box-item .zmiti-item-dom:nth-of-type(6), .zmiti-main-ui .zmiti-translateZ .zmiti-box-item .zmiti-item-dom:nth-of-type(6) {
  animation-delay: 600ms;
  -webkit-animation-delay: 600ms;
}

.zmiti-main-ui .zmiti-box-ui .zmiti-box-item .zmiti-item-dom:nth-of-type(7), .zmiti-main-ui .zmiti-translateZ .zmiti-box-item .zmiti-item-dom:nth-of-type(7) {
  animation-delay: 700ms;
  -webkit-animation-delay: 700ms;
}

.zmiti-main-ui .zmiti-box-ui .zmiti-box-item .zmiti-item-dom:nth-of-type(8), .zmiti-main-ui .zmiti-translateZ .zmiti-box-item .zmiti-item-dom:nth-of-type(8) {
  animation-delay: 800ms;
  -webkit-animation-delay: 800ms;
}

.zmiti-main-ui .zmiti-box-ui .zmiti-box-item .zmiti-item-dom:nth-of-type(9), .zmiti-main-ui .zmiti-translateZ .zmiti-box-item .zmiti-item-dom:nth-of-type(9) {
  animation-delay: 900ms;
  -webkit-animation-delay: 900ms;
}

.zmiti-main-ui .zmiti-box-ui .zmiti-box-item .zmiti-item-dom:nth-of-type(10), .zmiti-main-ui .zmiti-translateZ .zmiti-box-item .zmiti-item-dom:nth-of-type(10) {
  animation-delay: 1000ms;
  -webkit-animation-delay: 1000ms;
}

.zmiti-main-ui .zmiti-box-ui .zmiti-box-item .zmiti-item-dom:nth-of-type(11), .zmiti-main-ui .zmiti-translateZ .zmiti-box-item .zmiti-item-dom:nth-of-type(11) {
  animation-delay: 1100ms;
  -webkit-animation-delay: 1100ms;
}

.zmiti-main-ui .zmiti-box-ui .zmiti-box-item .zmiti-item-dom:nth-of-type(12), .zmiti-main-ui .zmiti-translateZ .zmiti-box-item .zmiti-item-dom:nth-of-type(12) {
  animation-delay: 1200ms;
  -webkit-animation-delay: 1200ms;
}

.zmiti-main-ui .zmiti-box-ui .zmiti-box-item .zmiti-item-dom:nth-of-type(13), .zmiti-main-ui .zmiti-translateZ .zmiti-box-item .zmiti-item-dom:nth-of-type(13) {
  animation-delay: 1300ms;
  -webkit-animation-delay: 1300ms;
}

.zmiti-main-ui .zmiti-box-ui .zmiti-box-item .zmiti-item-dom:nth-of-type(14), .zmiti-main-ui .zmiti-translateZ .zmiti-box-item .zmiti-item-dom:nth-of-type(14) {
  animation-delay: 1400ms;
  -webkit-animation-delay: 1400ms;
}

.zmiti-main-ui .zmiti-box-ui .zmiti-box-item .zmiti-item-dom, .zmiti-main-ui .zmiti-translateZ .zmiti-box-item .zmiti-item-dom {
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 1000;
  background: #00da61;
  border: 1px solid red;
}

.zmiti-main-ui .zmiti-box-ui .zmiti-box-item .zmiti-item-dom::before, .zmiti-main-ui .zmiti-translateZ .zmiti-box-item .zmiti-item-dom::before {
  display: none;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #00da61;
  left: 0;
  top: 0;
  border-radius: 50%;
  opacity: .5;
  -webkit-animation: flash 1s infinite;
  animation: flash 1s infinite;
}

@-webkit-keyframes flash {
  to {
    -webkit-transform: scale(3);
    transform: scale(3);
    opacity: 0;
  }
}

.zmiti-main-ui .zmiti-box-ui .zmiti-t1, .zmiti-main-ui .zmiti-translateZ .zmiti-t1 {
  position: absolute;
  top: 20%;
  -webkit-transform: rotateX(-20deg) translateY(-200px) translateZ(-200px);
  transform: rotateX(-20deg) translateY(-200px) translateZ(-200px);
}

.zmiti-main-ui .zmiti-box-ui .zmiti-t2, .zmiti-main-ui .zmiti-translateZ .zmiti-t2 {
  position: absolute;
  bottom: 0;
  -webkit-transform: rotateX(30deg) translateY(-200px) translateZ(-200px);
  transform: rotateX(30deg) translateY(-200px) translateZ(-200px);
}

@media all and (max-height: 1109px) {
  .zmiti-question-img {
    width: 350px  !important;
    margin: 10px auto !important;
  }
  .zmiti-result-btns {
    bottom: -100px;
  }
  .zmiti-right-remark h2 {
    text-align: left;
  }
  .zmiti-right-remark div {
    width: 680px;
    margin: 20px auto;
    text-align: left;
    text-indent: 2em;
    font-size: 34px;
  }
}

@-webkit-keyframes info {
  from {
    -webkit-transform: translate3d(0, -30px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes waiting {
  to {
    -webkit-transform: rotate(360deg);
  }
}
