@import "../css/base.scss";
  
    .zmiti-loading1{
        z-index: 1200;
		background:#fff;
		perspective: 800px;
		
	}
	
	.zmiti-img70{
		@include pos(a);

		margin: 40px;
	}
	.zmiti-img-rocket{
		@include pos(a);
		left: 100px;
		top:600px;
		//@include animation(fly 5s linear forwards);
		img{
			width:auto;
			height:200px;
		}
	}
	@keyframes fly{
		to{
			@include transform(translate(0,-1000px));
		}
	}
	.zmiti-img-title{
		@include pos(a);
		width: 400px;
		left: 50%;
		top: 35%;
		@include transform(translate(-50%,-50%));
	}

	.zmiti-loading-progress{
		@include pos(a);
		width: 70%;
		left: 15%;
		bottom:150px;
		@include br(20px);
		overflow: hidden;
		&.active{
			&::before{
				display: none;
			}
		}
		.zmiti-progress{
			@include pos(a);
			width: 99%;
			height: 36px;
			top: 2px;
			left:4px;
			@include transformOrigin(left);
			@include br(20px);
			@include transform(scale(0,1));
			background:-webkit-linear-gradient(top,#fffdc5,#fdf48f,#fffdc5);
			
		}
	}

	.zmiti-prec{
		@include pos(a);
		bottom: 100px;
		///∂ßßßßfont-weight: bold;
		text-align: center;
		width: 100%;
		font-family: Georgia, 'Times New Roman', Times, serif;
		font-size:36px;
	}
  
   .zmiti-loading-ui{
        width: 420px;
        height: 300px;
        @include pos(a);
        left: 50%;
        top: 50%;
        margin: 0px 0 0 -210px;

        &.loading-enter-active,
        &.loading-leave-active {
            @include transition(.4s .2s);
        }


        &.loading-leave-to,
        &.loading-enter {
            opacity: 0;
        }

        .zmiti-progress{
            color:#333;
            text-align: center;
            margin: 20px 0;
            font-family: Georgia;
            font-size: 40px;

        }




    }

   
    .zmiti-logo{
        @include pos(a);
        width: 500px;
        bottom:40px;
        left: 50%;
        margin-left: -250px;
    }

    .zmiti-loading-C{
        padding: 2px;        
        background:rgba(255,255,255,.6);
        @include br(20px);
    }


    .zmiti-loading-bar{
       /*  background-image:repeating-linear-gradient(-45deg, #14c3a2, #14c3a2 30px, #22e8c3 30px, #22e8c3 60px);
        background-size:600px 100%;
        @include animation(barberpole 12s linear infinite); */
        height: 20px;
        width: 100%;
        @include transformOrigin(left);
        background:#127fc5;
        position: relative;
        border-radius: 20px;

        @include br(100px);
        
    }

    
    
    

    .zmiti-loading-bar.active:after,
    .zmiti-loading-bar.active:before {
        opacity: 1;
    }

    
 

    .zmiti-loading-pig{
        padding-bottom:10px;
        img{
            
        }
    }
