.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1223000 !important;
  right: .5rem;
  top: .5rem;
}

.zmiti-play.rotate {
  -webkit-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.zmiti-loading1 {
  z-index: 1200;
  background: #fff;
  perspective: 800px;
}

.zmiti-img70 {
  position: absolute;
  margin: 40px;
}

.zmiti-img-rocket {
  position: absolute;
  left: 100px;
  top: 600px;
}

.zmiti-img-rocket img {
  width: auto;
  height: 200px;
}

@keyframes fly {
  to {
    -webkit-transform: translate(0, -1000px);
    transform: translate(0, -1000px);
  }
}

.zmiti-img-title {
  position: absolute;
  width: 400px;
  left: 50%;
  top: 35%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.zmiti-loading-progress {
  position: absolute;
  width: 70%;
  left: 15%;
  bottom: 150px;
  border-radius: 20px;
  overflow: hidden;
}

.zmiti-loading-progress.active::before {
  display: none;
}

.zmiti-loading-progress .zmiti-progress {
  position: absolute;
  width: 99%;
  height: 36px;
  top: 2px;
  left: 4px;
  -webkit-transform-origin: left;
  transform-origin: left;
  border-radius: 20px;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  background: -webkit-linear-gradient(top, #fffdc5, #fdf48f, #fffdc5);
}

.zmiti-prec {
  position: absolute;
  bottom: 100px;
  text-align: center;
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 36px;
}

.zmiti-loading-ui {
  width: 420px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0px 0 0 -210px;
}

.zmiti-loading-ui.loading-enter-active, .zmiti-loading-ui.loading-leave-active {
  -webkit-transition: 0.4s 0.2s;
  transition: 0.4s 0.2s;
}

.zmiti-loading-ui.loading-leave-to, .zmiti-loading-ui.loading-enter {
  opacity: 0;
}

.zmiti-loading-ui .zmiti-progress {
  color: #333;
  text-align: center;
  margin: 20px 0;
  font-family: Georgia;
  font-size: 40px;
}

.zmiti-logo {
  position: absolute;
  width: 500px;
  bottom: 40px;
  left: 50%;
  margin-left: -250px;
}

.zmiti-loading-C {
  padding: 2px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
}

.zmiti-loading-bar {
  /*  background-image:repeating-linear-gradient(-45deg, #14c3a2, #14c3a2 30px, #22e8c3 30px, #22e8c3 60px);
        background-size:600px 100%;
        @include animation(barberpole 12s linear infinite); */
  height: 20px;
  width: 100%;
  -webkit-transform-origin: left;
  transform-origin: left;
  background: #127fc5;
  position: relative;
  border-radius: 20px;
  border-radius: 100px;
}

.zmiti-loading-bar.active:after,
.zmiti-loading-bar.active:before {
  opacity: 1;
}

.zmiti-loading-pig {
  padding-bottom: 10px;
}
