@import "../css/base.scss";
  
    .zmiti-loading1{
        z-index: 1200;
		background:#fff;
		perspective: 800px;

	}
	.zmiti-laoding-view{
		@include transform(scale(0));
		@include transition(3s .1s);
		&.active{
			@include transform(scale(1));
		}
	}
	.zmiti-loading-icons{
		width:100%;
		height: 100%;
		z-index: 1400;;
		@include pos(a);
		left:0%;
		top: 0%;
		transform-style: preserve-3d;

		
		
		@include animation(rotate 1s linear infinite);
		span{
			@include pos(a);
			left: 50%;
			top: 50%;
			@include transition(.1s);
			img{
				
				width: 100%;
				opacity:0;
			}
		}
	}

	@keyframes rotate{
		to{
			transform:rotateY(360deg);
		}
	}

  
   .zmiti-loading-ui{
        width: 420px;
        height: 300px;
        @include pos(a);
        left: 50%;
        top: 50%;
        margin: 0px 0 0 -210px;

        &.loading-enter-active,
        &.loading-leave-active {
            @include transition(.4s .2s);
        }


        &.loading-leave-to,
        &.loading-enter {
            opacity: 0;
        }

        .zmiti-progress{
            color:#333;
            text-align: center;
            margin: 20px 0;
            font-family: Georgia;
            font-size: 40px;

        }




    }

   
    .zmiti-logo{
        @include pos(a);
        width: 500px;
        bottom:40px;
        left: 50%;
        margin-left: -250px;
    }

    .zmiti-loading-C{
        padding: 2px;        
        background:rgba(255,255,255,.6);
        @include br(20px);
    }


    .zmiti-loading-bar{
       /*  background-image:repeating-linear-gradient(-45deg, #14c3a2, #14c3a2 30px, #22e8c3 30px, #22e8c3 60px);
        background-size:600px 100%;
        @include animation(barberpole 12s linear infinite); */
        height: 20px;
        width: 100%;
        @include transformOrigin(left);
        background:#127fc5;
        position: relative;
        border-radius: 20px;

        @include br(100px);
        
    }

    
    
    

    .zmiti-loading-bar.active:after,
    .zmiti-loading-bar.active:before {
        opacity: 1;
    }

    
 

    .zmiti-loading-pig{
        padding-bottom:10px;
        img{
            
        }
    }
